<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="site-nav-overflow"><div class="navicon" aria-hidden="true"></div></button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden" id="site-nav-overflow"></ul>
      </nav>
    </div>
  </div>
</div>
