---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <div class="page" aria-labelledby="author-name">
        <div class="page__inner-wrap">
          <section class="page__content" aria-label="Profile details">
            {{ content }}
          </section>
        </div>
      </div>
    </div>

    {% include scripts.html %}

  </body>
</html>
